.card {
    position: relative;
    border: 1px solid gray;
    margin-bottom: 10px;
    border-radius: 5px;

    img {
        width: 100%;
        height: auto;
        border-radius: 5px 5px 0 0;
    }

    .name {
        font-size: 2rem;
        text-align: center;
        color: #23648B;
        padding: 10px 0;
        font-weight: bold;
    }
}
